<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description}} | {{ page.title }}" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=1.0'}}">    
    <title>{{ site.title }} | {{ page.title }}</title>
  </head>

  <body>
    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}
      </section>
    </div>

    {% if site.baidu_analytics %}
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?{{ site.google_analytics }}";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    {% endif %}
  </body>
</html>